.not-found-page {
    padding: 246px 0 60px;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.not-found-page__container {
    width: 100%;
}

.not-found-page__title {
    font-size: 140px;
    font-weight: 400;
    line-height: 169.43px;
    margin: 0%;
    color: rgba(0, 0, 0, 1);
}

.not-found-page__subtitle {
    margin: 5px 0 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color: rgba(0, 0, 0, 1);
}

.not-found-page__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color: rgba(52, 86, 243, 1);
    text-decoration: none;
    transition: ease-in-out 0.5s;
}

.not-found-page__link:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .not-found-page {
        padding-top: 408px;
        padding-bottom: 222px;
        justify-content: flex-start;

    }

    .not-found-page__link {
        margin-top: 184px;
    }
}

@media screen and (max-width: 550px) {
    .not-found-page {
        padding-top: 330px;
        padding-bottom: 30px;
        justify-content: space-between;
    }

    .not-found-page__title {
        font-size: 80px;
        line-height: 96.82px;
    }

    .not-found-page__subtitle {
        font-size: 12px;
        line-height: 14.52px;
        margin: 10px 0 0;
    }

    .not-found-page__link {
        font-size: 12px;
        line-height: 14.52px;

    }
}